
body {
    background: darkslategray;
}

#grid {
    margin: 100px;
}
.col-xs-6.col-sm-4 {
    min-height: 75px;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
}
#tl {
    border-right-style: double;
    border-bottom-style: double;
}
#tc {
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
}
#tr {
    border-bottom-style: double;
    border-left-style: double;
}
#ml {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
}
#mc {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
}
#mr {
    border-top-style: double;
    border-bottom-style: double;
    border-left-style: double;
}
#bl {
    border-top-style: double;
    border-right-style: double;
}
#bc {
    border-top-style: double;
    border-right-style: double;
    border-left-style: double;
}
#br {
    border-top-style: double;
    border-left-style: double;
}
